# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[RESMANAGER] 
ResBuild=1

[S3E]
#Approx 20MB
MemSize=25000000
MemSizeDebugDevice=2000000
MemSizeDebug=300000000	# Memory used for resource building and other debug features
SysGlesVersion=2
DispFixRot=Portrait

SplashScreenAutoMinTime=1500

[GX]
DataCacheSize=161072