<config platform="android" template="android (default)">Created: sön jan 25 09:14:22 2015
By: Christopher
Using Template: android (default)

&lt;description to go here><option fromDef="false" name="android-icon-dir" value="deployments"/>
    <option fromDef="false" name="android-icon-group" value="-ldpi;&lt;generate>;-mdpi;&lt;generate>;-hdpi;&lt;generate>;-xhdpi;&lt;generate>;-xxhdpi;&lt;generate>;-xxxhdpi;&lt;generate>"/>
    <option fromDef="true" name="android-icon-gallery" value=""/>
    <option fromDef="true" name="android-icon-nonstandard" value=""/>
    <option fromDef="true" name="android-external-res" value=""/>
    <option fromDef="true" name="android-external-assets" value=""/>
    <option fromDef="true" name="android-install-location" value="1"/>
    <option fromDef="true" name="android-pkgname" value="com.Christopher.Mastermind"/>
    <option fromDef="false" name="icon" value="deployments"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Mastermind"/>
    <option fromDef="true" name="caption" value="Mastermind"/>
    <option fromDef="true" name="provider" value="Christopher"/>
    <option fromDef="true" name="copyright" value="(C) Christopher"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="android-manifest" value=""/>
    <option fromDef="true" name="android-custom-activity" value=""/>
    <option fromDef="true" name="android-extra-manifest" value=""/>
    <option fromDef="true" name="android-extra-application-manifest" value=""/>
    <option fromDef="true" name="android-extra-strings" value=""/>
    <option fromDef="true" name="android-supports-gl-texture" value=""/>
    <option fromDef="true" name="android-unsigned" value=""/>
    <option fromDef="true" name="android-tm" value=""/>
</config>
