<config platform="android" template="android (default)">Created: sön jan 25 09:14:22 2015
By: Christopher
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" value="deployments" fromDef="false"/>
    <option name="android-icon-group" value="-ldpi;&lt;generate>;-mdpi;&lt;generate>;-hdpi;&lt;generate>;-xhdpi;&lt;generate>;-xxhdpi;&lt;generate>;-xxxhdpi;&lt;generate>" fromDef="false"/>
    <option name="android-icon-gallery" value="" fromDef="true"/>
    <option name="android-icon-nonstandard" value="" fromDef="true"/>
    <option name="android-external-res" value="" fromDef="true"/>
    <option name="android-external-assets" value="" fromDef="true"/>
    <option name="android-install-location" value="1" fromDef="true"/>
    <option name="android-pkgname" value="com.Christopher.Mastermind" fromDef="true"/>
    <option name="icon" value="deployments" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Mastermind" fromDef="true"/>
    <option name="caption" value="Mastermind" fromDef="true"/>
    <option name="provider" value="Christopher" fromDef="true"/>
    <option name="copyright" value="(C) Christopher" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="android-manifest" value="" fromDef="true"/>
    <option name="android-custom-activity" value="" fromDef="true"/>
    <option name="android-extra-manifest" value="" fromDef="true"/>
    <option name="android-extra-application-manifest" value="" fromDef="true"/>
    <option name="android-extra-strings" value="" fromDef="true"/>
    <option name="android-supports-gl-texture" value="" fromDef="true"/>
    <option name="android-unsigned" value="" fromDef="true"/>
    <option name="android-tm" value="" fromDef="true"/>
</config>
