<config template="project (default)" platform="project">Created: sön jan 25 09:14:17 2015&#xd;
By: Christopher&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Mastermind" name="name" fromDef="true"/>
    <option value="Mastermind" name="caption" fromDef="true"/>
    <option value="Christopher" name="provider" fromDef="true"/>
    <option value="(C) Christopher" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
