<config platform="project" template="project (default)">Created: sön jan 25 09:14:17 2015&#xd;
By: Christopher&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Mastermind" fromDef="true"/>
    <option name="caption" value="Mastermind" fromDef="true"/>
    <option name="provider" value="Christopher" fromDef="true"/>
    <option name="copyright" value="(C) Christopher" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
