<config platform="project" template="project (default)">Created: sön jan 25 09:14:17 2015&#xd;
By: Christopher&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option fromDef="false" name="icon" value="deployments"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Mastermind"/>
    <option fromDef="true" name="caption" value="Mastermind"/>
    <option fromDef="true" name="provider" value="Christopher"/>
    <option fromDef="true" name="copyright" value="(C) Christopher"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
